openapi: 3.0.0
info:
  title: Palomma API
  description: This API includes functionality of the Palomma API.
  version: 1.0.0
servers:
  - url: https://prod.api.palomma.com/v0
    description: Production server
  - url: https://sandbox.api.palomma.com/v0
    description: Sandbox server
security:
  - BearerAuth: []
paths:
  /customers:
    post:
      summary: Creates a new customer
      operationId: createCustomer
      tags:
        - customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - documentType
                - documentNumber
                - email
                - phoneNumber
              properties:
                reference:
                  type: string
                  description: Reference sent in by merchant to identify customer.
                name:
                  type: string
                  description: First and last name for a natural person, and company name for a juridical person.
                documentType:
                  type: string
                  description: Colombian ID type for customer.
                  enum:
                    - cc
                    - ce
                    - nit
                documentNumber:
                  type: string
                  description: Colombian ID number for customer.
                email:
                  type: string
                  description: Customer’s email.
                phoneNumber:
                  type: string
                  description: Customer’s phone number.
      responses:
        "201":
          description: Customer created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    get:
      summary: Retrieve customers
      operationId: listCustomers
      tags:
        - customers
      responses:
        "200":
          description: List of customers successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /customers/{customerId}:
    get:
      summary: Retrieve a Customer
      operationId: getCustomerById
      tags:
        - Customers
      parameters:
        - name: customerId
          in: path
          required: true
          description: Unique identifier of the customer.
          schema:
            type: string
      responses:
        "200":
          description: Customer retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Customer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinLinks:
    post:
      summary: Creates a new Payin Link
      operationId: createPayinLink
      tags:
        - Payin Links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/PayinLinkPSE"
                - $ref: "#/components/schemas/PayinLinkBancolombiaButton"
                - $ref: "#/components/schemas/PayinLinkNequiButton"
                - $ref: "#/components/schemas/PayinLinkCard"
      responses:
        "201":
          description: Payin Link created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinLink"
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to bad request.
        "401":
          description: Unauthorized - Authentication credentials were not provided or are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to unauthorized access.
        "500":
          description: Internal Server Error - An error occurred on the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the internal server error.
    get:
      summary: Retrieve payin link
      operationId: listPayinLinks
      tags:
        - Payin Links
      responses:
        "200":
          description: List of payin links successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PayinLink"
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinLinks/{payinLinkId}:
    get:
      summary: Retrieve a Payin Link
      operationId: getPayinLinkById
      tags:
        - Payin Links
      parameters:
        - name: payinLinkId
          in: path
          required: true
          description: Unique identifier of the payin link.
          schema:
            type: string
      responses:
        "200":
          description: Payin Link retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinLink"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Payin Link not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinSources:
    post:
      summary: Creates a new Payin Source
      operationId: createPayinSource
      tags:
        - Payin Sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/PayinSourceBankAccount"
                - $ref: "#/components/schemas/PayinSourceBancolombiaToken"
                - $ref: "#/components/schemas/PayinSourceNequiToken"
      responses:
        "201":
          description: Payin Source created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinSource"
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to bad request.
        "401":
          description: Unauthorized - Authentication credentials were not provided or are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to unauthorized access.
        "500":
          description: Internal Server Error - An error occurred on the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the internal server error.
    get:
      summary: Retrieve payin source
      operationId: listPayinSources
      tags:
        - Payin Sources
      responses:
        "200":
          description: List of payin sources successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PayinSource"
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinSources/{payinSourceId}:
    get:
      summary: Retrieve a Payin Source
      operationId: getPayinSourceById
      tags:
        - Payin Sources
      parameters:
        - name: payinSourceId
          in: path
          required: true
          description: Unique identifier of the payin source.
          schema:
            type: string
      responses:
        "200":
          description: Payin Source retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinSource"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Payin Source not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinRequests:
    post:
      summary: Creates a new Payin Request
      operationId: createPayinRequest
      tags:
        - Payin Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payinSourceId
                - amount
              properties:
                reference:
                  type: string
                  description: Reference sent in by merchant to identify payin request.
                targetMerchantAccountId:
                  description: An optional account ID of the target merchant account for this Payin Request.
                  type: string
                payinSourceId:
                  type: string
                  description: Payin source to debit from.
                amount:
                  type: number
                  description: Amount to be paid.
      responses:
        "201":
          description: Payin Request created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinRequest"
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to bad request.
        "401":
          description: Unauthorized - Authentication credentials were not provided or are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to unauthorized access.
        "500":
          description: Internal Server Error - An error occurred on the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the internal server error.
    get:
      summary: Retrieve payin requests
      operationId: listPayinRequests
      tags:
        - Payin Requests
      responses:
        "200":
          description: List of payin requests successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PayinRequest"
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /payinRequests/{payinRequestId}:
    get:
      summary: Retrieve a Payin Request
      operationId: getPayinRequestById
      tags:
        - Payin Requests
      parameters:
        - name: payinRequestId
          in: path
          required: true
          description: Unique identifier of the payin request.
          schema:
            type: string
      responses:
        "200":
          description: Payin Request retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayinRequest"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Payin Request not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this customer.
        reference:
          type: string
          description: Reference sent in by merchant to identify customer.
        name:
          type: string
          description: First and last name for a natural person, and company name for a juridical person.
        documentType:
          type: string
          description: Colombian ID type for customer.
          enum:
            - cc
            - ce
            - nit
        documentNumber:
          type: string
          description: Colombian ID number for customer.
        email:
          type: string
          description: Customer’s email.
        phoneNumber:
          type: string
          description: Customer’s phone number.
        createdAt:
          type: string
          format: date-time
          description: ISO string when the customer was created.
        updatedAt:
          type: string
          format: date-time
          description: ISO string when the customer was updated.
    Bank:
      type: string
      description: The list of banks supported by the Palomma API. This defines the acceptable bank names that can be used when creating a Payin Link.
      enum:
        - alianza
        - ban100
        - bancamia
        - bancoagrario
        - avvillas
        - bbva
        - bancocajasocial
        - coopcentral
        - davivienda
        - bancodebogota
        - bancodeoccidente
        - falabella
        - finandina
        - gnbsudameris
        - itau
        - jpmorgancolombia
        - mundomujer
        - pichincha
        - bancopopular
        - santander
        - serfinanza
        - union
        - bancolombia
        - bancoomeva
        - cfa
        - citibank
        - coltefinanciera
        - confiar
        - coofinep
        - cotrafa
        - dale
        - daviplata
        - iris
        - lulo
        - movii
        - nequi
        - rappipay
        - scotiabankcolpatria
    CustomerDetails:
      type: object
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the customer.
          example: "LDFLKFL"
        name:
          type: string
          description: The customer's full name.
          example: "Andres Uribe"
        documentType:
          type: string
          description: The type of identification document provided by the customer (e.g., cc for cédula de ciudadanía).
          enum:
            - cc
            - ce
            - nit
            - passport
            - other
          example: "cc"
        documentNumber:
          type: string
          description: The identification document number of the customer.
          example: "1037661022"
        email:
          type: string
          description: The email address of the customer.
          format: email
          example: "felipe@palomma.com"
        phoneNumber:
          type: string
          description: The phone number of the customer, must be a valid Colombian number.
          example: "3218009757"
    Card:
      type: object
      required:
        - cardNumber
        - expirationMonth
        - expirationYear
        - cvv
      properties:
        cardNumber:
          type: string
          description: The card number without spaces or dashes.
          example: "4111111111111111"
          pattern: '^\d{13,19}$' # Basic validation for 13 to 19 digit numbers
        expirationMonth:
          type: string
          description: The month when the card expires, typically in MM format.
          example: "12"
          pattern: "^(0[1-9]|1[0-2])$" # Basic validation for month format
        expirationYear:
          type: string
          description: The year when the card expires, typically in YYYY format.
          example: "2023"
          pattern: '^\d{4}$' # Basic validation for 4 digit year
        cvv:
          type: string
          description: The card verification value/code, typically 3 or 4 digits.
          example: "123"
          pattern: '^\d{3,4}$' # Basic validation for 3 to 4 digit numbers
    PayinLinkPSE:
      title: PSE
      type: object
      required:
        - customerId
        - redirectUrl
        - amount
        - type
        - bank
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Link.
        description:
          type: string
          description: An optional description of the Payin Link.
        targetMerchantAccountId:
          type: string
          description: An optional account ID of the target merchant account for this Payin Link.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Link is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the payment process.
        amount:
          type: number
          description: The amount to be paid through the Payin Link.
        type:
          type: string
          description: The type of the Payin Link, which is 'pse' for this schema.
          enum:
            - pse
        bank:
          $ref: "#/components/schemas/Bank"
    PayinLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the Payin Link.
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Link.
        description:
          type: string
          description: Description of the Payin Link.
        targetMerchantAccountId:
          type: string
          description: Account ID of the target merchant account for this Payin Link.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Link is created.
        customerDetails:
          $ref: "#/components/schemas/CustomerDetails"
        status:
          type: string
          description: The current status of the Payin Link.
        paymentUrl:
          type: string
          description: URL to which the customer can go to complete the payment.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the payment process.
        amount:
          type: number
          description: The total amount to be paid through the Payin Link.
        amountCollected:
          type: number
          description: The amount that has been collected so far through the Payin Link.
        fee:
          type: number
          description: Any fee associated with the Payin Link.
        type:
          type: string
          description: The type of Payin Link (e.g., nequiButton, pse).
        createdAt:
          type: string
          format: date-time
          description: ISO string representing when the Payin Link was created.
        updatedAt:
          type: string
          format: date-time
          description: ISO string representing when the Payin Link was last updated.
    PayinLinkBancolombiaButton:
      title: Bancolombia Button
      type: object
      required:
        - customerId
        - redirectUrl
        - amount
        - type
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Link.
        description:
          type: string
          description: An optional description of the Payin Link.
        targetMerchantAccountId:
          type: string
          description: An optional account ID of the target merchant account for this Payin Link.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Link is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the payment process.
        amount:
          type: number
          description: The amount to be paid through the Payin Link.
        type:
          type: string
          description: The type of the Payin Link, which is 'bancolombiaButton' for this schema.
          enum:
            - bancolombiaButton
    PayinLinkNequiButton:
      title: Nequi Button
      type: object
      required:
        - customerId
        - redirectUrl
        - amount
        - type
        - phoneNumber
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Link.
        description:
          type: string
          description: An optional description of the Payin Link.
        targetMerchantAccountId:
          type: string
          description: An optional account ID of the target merchant account for this Payin Link.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Link is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the payment process.
        amount:
          type: number
          description: The amount to be paid through the Payin Link.
        type:
          type: string
          description: The type of the Payin Link, which is 'nequiButton' for this schema.
          enum:
            - nequiButton
        phoneNumber:
          type: string
          description: The phone number of the customer, required for Nequi payments.
    PayinLinkCard:
      title: Card
      type: object
      required:
        - customerId
        - redirectUrl
        - amount
        - type
        - card
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Link.
        description:
          type: string
          description: An optional description of the Payin Link.
        targetMerchantAccountId:
          type: string
          description: An optional account ID of the target merchant account for this Payin Link.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Link is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the payment process.
        amount:
          type: number
          description: The amount to be paid through the Payin Link.
        type:
          type: string
          description: The type of the Payin Link, which is 'card' for this schema.
          enum:
            - card
        card:
          $ref: "#/components/schemas/Card"
    PayinSourceBancolombiaToken:
      title: Bancolombia Token
      type: object
      required:
        - customerId
        - redirectUrl
        - type
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Source.
        description:
          type: string
          description: An optional description of the Payin Source.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Source is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the authorization process.
        type:
          type: string
          description: The type of the Payin Source, which is 'bancolombiaToken' for this schema.
          enum:
            - bancolombiaToken
    PayinSourceNequiToken:
      title: Nequi Token
      type: object
      required:
        - customerId
        - redirectUrl
        - type
        - phoneNumber
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Source.
        description:
          type: string
          description: An optional description of the Payin Source.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Source is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the authorization process.
        type:
          type: string
          description: The type of the Payin Source, which is 'nequiToken' for this schema.
          enum:
            - nequiToken
        phoneNumber:
          type: string
          description: Customer’s phone number.
    PayinSourceBankAccount:
      title: Bank Account
      type: object
      required:
        - customerId
        - redirectUrl
        - type
        - bankAccount
      properties:
        reference:
          type: string
          description: An optional reference provided by the merchant to identify the Payin Source.
        description:
          type: string
          description: An optional description of the Payin Source.
        customerId:
          type: string
          description: The ID of the customer for whom the Payin Source is created.
        redirectUrl:
          type: string
          description: URL to which the customer will be redirected after the authorization process.
        type:
          type: string
          description: The type of the Payin Source, which is 'bankAccount' for this schema.
          enum:
            - bankAccount
        phoneNumber:
          type: string
          description: Customer’s phone number.

        partialPayinsEnabled:
          type: boolean
          description: Only available for bancolombia. Partial debit will be made if the account does not have total amount.
        authRequired:
          type: boolean
          description: Determines whether the bank account must be verified before debits are made.
    PayinSource:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this payin source.
        reference:
          type: string
          description: Reference sent in by merchant to identify payin source.
        description:
          type: string
          description: An extra metadata field that can be included for visibility.
        customerId:
          type: string
          description: Reference to customer who owns this payin source.
        customerDetails:
          $ref: "#/components/schemas/CustomerDetails"
        status:
          type: string
          description: Status of the payin source.
          enum: [pending, processing, active, cancelled]
        statusMessage:
          type: string
          description: Further detail on the status of the payin source.
        authUrl:
          type: string
          description: URL where the customer should be redirected to complete the account authentication and debit authorization, on pending and processing status.
        redirectUrl:
          type: string
          description: URL where the customer will be redirected after completing account authentication and authorizing debits.
        partialPayinsEnabled:
          type: boolean
          description: Indicates whether partial payins are enabled.
        type:
          type: string
          description: Type of payment method created.
          enum: [bankAccount, bancolombiaToken, nequiToken]
        createdAt:
          type: string
          format: date-time
          description: ISO string when the payin source was created.
        updatedAt:
          type: string
          format: date-time
          description: ISO string when the payin source was last updated.
    PayinSourceDetails:
      type: object
      properties:
        reference:
          type: string
          description: Reference sent in by merchant to identify payin source.
        description:
          type: string
          description: An extra metadata field that can be included for visibility.
        partialPayinsEnabled:
          type: boolean
          description: Indicates whether partial payins are enabled.
        type:
          type: string
          description: Type of payment method created.
          enum: [bankAccount, bancolombiaToken, nequiToken]
    BankAccount:
      type: object
      properties:
        bank:
          $ref: "#/components/schemas/Bank"
        accountType:
          type: string
          description: The type of the bank account.
          enum:
            - savings
            - checking
        accountNumber:
          type: string
          description: The bank account number.
    PayinRequest:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this payin request.
        reference:
          type: string
          description: Reference sent in by merchant to identify payin request.
        targetMerchantAccountId:
          type: string
          description: Reference to Merchant Account. Safe to ignore if Merchant Accounts are not being used.
        customerId:
          type: string
          description: Reference to customer who owns the payin source from which the payin request was created.
        customerDetails:
          $ref: "#/components/schemas/CustomerDetails"
          description: Details about the customer who owns the payin source from which the payin request was created.
        payinSourceId:
          type: string
          description: Reference to payin source from which the payin request was created.
        payinSourceDetails:
          $ref: "#/components/schemas/PayinSourceDetails"
          description: Details about the payin source from which the payin request was created.
        status:
          type: string
          enum:
            - processing
            - approved
            - partial
            - cancelled
          description: Status of the payin request.
        statusMessage:
          type: string
          description: Gives further detail on the status of the payin request. Only present when status is "cancelled".
        amount:
          type: number
          description: Amount to collect from the customer’s payment method. Must be an integer.
        amountCollected:
          type: number
          description: Amount collected by payin request. Starts at 0 and changes on status change to "approved" or "partial".
        fee:
          type: number
          description: Fee charged for the transaction. This fee will be subtracted from amountCollected at settlement time.
        createdAt:
          type: string
          description: ISO string when the payin request was created.
        updatedAt:
          type: string
          description: ISO string when the payin request was last updated.
      required:
        - id
        - targetMerchantAccountId
        - customerId
        - payinSourceId
        - status
        - amount
        - amountCollected
        - fee
        - createdAt
        - updatedAt

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
