openapi: 3.0.0
info:
  title: Palomma API
  description: This API includes functionality of the Palomma API.
  version: 1.0.0
servers:
  - url: https://prod.api.palomma.com/v0
    description: Production server
  - url: https://sandbox.api.palomma.com/v0
    description: Sandbox server
paths:
  /customers:
    post:
      summary: Creates a new customer
      description: Creates a new Customer from the information sent in the body.
      operationId: createCustomer
      tags:
        - customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - documentType
                - documentNumber
                - email
                - phoneNumber
              properties:
                reference:
                  type: string
                  description: Reference sent in by merchant to identify customer.
                name:
                  type: string
                  description: First and last name for a natural person, and company name for a juridical person.
                documentType:
                  type: string
                  description: Colombian ID type for customer.
                  enum:
                    - cc
                    - ce
                    - nit
                documentNumber:
                  type: string
                  description: Colombian ID number for customer.
                email:
                  type: string
                  description: Customer’s email.
                phoneNumber:
                  type: string
                  description: Customer’s phone number.
      responses:
        "201":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          description: Bad Request - Invalid input provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to bad request.
        "401":
          description: Unauthorized - Authentication credentials were not provided or are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the error due to unauthorized access.
        "500":
          description: Internal Server Error - An error occurred on the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the internal server error.
components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this customer.
        reference:
          type: string
          description: Reference sent in by merchant to identify customer.
        name:
          type: string
          description: First and last name for a natural person, and company name for a juridical person.
        documentType:
          type: string
          description: Colombian ID type for customer.
          enum:
            - cc
            - ce
            - nit
        documentNumber:
          type: string
          description: Colombian ID number for customer.
        email:
          type: string
          description: Customer’s email.
        phoneNumber:
          type: string
          description: Customer’s phone number.
        createdAt:
          type: string
          format: date-time
          description: ISO string when the customer was created.
        updatedAt:
          type: string
          format: date-time
          description: ISO string when the customer was updated.
